.wpui-view-toggle {
    color: #535353;
    font-size: .875rem;
    font-weight: 500;
    padding: 5px !important;

    [role="presentation"] {
        background-color: white;
        transform: none !important;
    }

    button[data-active-item] svg {
        fill: #5b5b5b;
    }

    &:focus-within {
        box-shadow: none !important;
        border: none;
    }
}

.css-orl39q-pressed-buttonView {
    color: black !important;
    box-shadow: 1px 1px 1px #9c9c9c;
}

.css-ytx8l9-View-toggleGroupControlSize-enclosingBorder-enclosingBorders-toggleGroupControl-block {
    background: #f2f9ff !important;
    border: none !important;
}

.css-qme2wc-ButtonContentView {
    font-weight: 600;
}

.wpui-variation-card {
    border-radius: 4px !important;
    padding: 45px 35px;
    container-type: inline-size;
    container-name: wpui-resizer;
}

.components-resizable-box__handle:after {
    height: 40px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%)
}

iframe {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.wpui-pattern-embed {
    margin: 1px;
    box-sizing: border-box;
}