.wpui-view-toggle 
 {
    color: #535353;
    font-size: .875rem;
    font-weight: 500;
}

.wpui-view-toggle {
    [role="presentation"] {
        background-color: #cecece;
        transform: none !important;
    }

    button[data-active-item] svg {
        fill: #5b5b5b;
    }

    &:focus-within {
        box-shadow: none !important;
        border-color: grey !important;
    }
}

.wpui-variation-card {
    border-radius: 4px !important;
    padding: 45px 35px;
}

.components-resizable-box__handle:after{
    width: 8px;
    height: 30px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%)
}