.wpui-header {
    padding: 12px 3vw;
    background-color:#1f1f1f !important;
    position: sticky !important;
    top: 0;
    z-index: 10;

    a {
        text-decoration: none;
        color: antiquewhite;
    }
}
.not-sticky {
    padding: 12px 3vw;
    background-color:#1f1f1f !important;
    a {
        text-decoration: none;
        color: antiquewhite;
    }
}

.wpui-header-button{
    margin-right: 4.5%;
}

.wpui-site-logo {
    margin-top: 2.3px;
    margin-left: 4% !important;
    display: flex;
    gap: 5px;
}

.none{
    display: none !important;
}

@media only screen and (max-width:480px) {
    .wpui-site-logo{
        margin-left: -5px !important;
    }
    .wpui-header-button{
        margin-right: 0px;
        gap: 30px !important;
    }
}

