.wpui-footer {
    background-color: #1f1f1f !important;

    .components-card__body {
        &:first-child {
            padding: 60px 3vw;
        }

        .footer-content {
            margin: auto;
            width: 50%;
        }
    }
}

.footer_btn {
    color: aliceblue;
    border: 1px solid white;
}