.wpui-footer {
    background-color: #242424 !important;

    .components-card__body {
        padding: 12px 3vw;

        &:first-child {
            padding: 60px 3vw;
        }

        .sec-1 {
            margin: auto;
            width: 50%;
        }
    }
}

.btn{
    color: aliceblue;
}