body {
    font-family: Inter, sans-serif;
    margin: 0;
}

.resize_cont {
    .components-resizable-box__handle-right {
        cursor: ew-resize !important;

        &:after {
            background: #94a3b8;
            border: 0;
            border-radius: 4px;
            box-shadow: none;
            height: 35px;
            right: calc(50% - 14px);
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
        }

        &:before {
            display: none !important;
        }
    }
}

.wpui-com-page,
.wpui-lcont {
    margin: auto;
    max-width: 1350px;
    padding: 40px 20px;
}

div.wpui-column {
    border-radius: 10px;
    box-shadow: none !important;
    height: auto;
    padding: 10px;
}

.wpui-heading{
    margin-left: 20px !important;
}

.copied-pop .components-popover__content {
    padding: 6px !important
}

.wpui-back-button span,
.wpui-back-button button {
    color: #535353;
    font-size: .875rem;
    font-weight: 500;
}


.wpui-back-button .home:hover {
    color: #3858e9;
}

.wpui-hero-cta {
    .components-button {
        padding: 20px !important;
        color: white !important;

        &:nth-child(1) {
            border: 1px solid transparent;
        }

.wpui-back-button .home:hover {
    color: #3858e9;
}

/* Docs */
pre {
    background-color: #f0f0f0;
    padding: 20px;
    border: 0.5px solid #cacaca;
    border-radius: 5px;
}

.main {
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}

@media only screen and (max-width:480px) {
    div.wpui-column {
        column-gap: 10px;
        grid-template-columns: repeat(1, 1fr)
    }

    .wpui-footer .components-card__body .sec-1 {
        width: 100% !important
    }

    .wpui-variation-card {
        padding: 35px 20px
    }

    div.wpui-hero-cont {
        padding-right: 24px !important;
        width: 100%
    }

    .main {
        width: 95%;
        margin: 0%;
    }
    pre{
        overflow: scroll;
    }
}

@media only screen and (min-width:481px) and (max-width:820px) {
    div.wpui-column {
        column-gap: 10px;
        grid-template-columns: repeat(2, 1fr)
    }
  
    .wpui-hero-cont {
        width: 100%
    }
    .main {
        width: 100%;
        margin: 0%;
    }
}