body {
    font-family: Inter, sans-serif;
    margin: 0
}

.wpui_site_logo {
    box-shadow: none !important;
    margin-top: 2.3px;
}

.wpui_header a {
    text-decoration: none;
    margin-left: 12px;
}

.wpui_hero_Section {
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vw 0
}

.wpui_hero_cont {
    margin: auto 0 auto auto;
    padding-right: 140px !important;
    width: 50%
}

.wpui_newsletter {
    padding: 60px 20px
}

.wpui_newsletter .nl_container {
    margin: auto;
    width: 50%
}

.wpui_newsletter .nl_container button {
    background: #d9d9d9;
    border-radius: 4px;
    color: #5a6475;
    height: auto
}

.wpui_newsletter .nl_container button:hover {
    background-color: #d9d9d9 !important;
    color: #5a6475 !important
}

.wpui_newsletter .nl_container button:focus {
    --wp-admin-theme-color: #d9d9d9
}

.wpui_newsletter .nl_container input:focus {
    box-shadow: 0 0 0 .5px #5a6475
}

.wpui_newsletter .nl_container .nl_input {
    width: 50%
}

.wpui_newsletter .nl_container .nl_input input {
    background: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 12px
}

.wpui_newsletter .nl_container .nl_input * {
    height: 100%
}

.resize_cont .components-resizable-box__handle-right:after {
    background: #94a3b8;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    height: 35px;
    right: calc(50% - 14px);
    top: 50%;
    transform: translateY(-50%);
    width: 6px
}

.resize_cont .components-resizable-box__handle-right:before {
    display: none !important
}

.resize_cont .components-resizable-box__handle-right {
    cursor: ew-resize !important
}

.wpui_footer {
    background-color: #3858e9 !important
}

.wpui_footer .components-card__body,
.wpui_header {
    padding: 12px 3vw
}

.wpui_footer .components-card__body:first-child {
    padding: 60px 3vw
}

.wpui_footer .components-card__body .sec_1 {
    margin: auto;
    width: 50%
}

.wpui_com_page,
.wpui_lcont {
    margin: auto;
    max-width: 1350px;
    padding: 40px 20px
}

div.wpui_card_preview {
    background: #b8cfff94;
    border: 10px;
    border-radius: 4px;
    height: 180px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

div.wpui_preview{
   border: 10px solid rgb(255, 255, 255);
   border-radius: 10px;
}

div.wpui_preview:hover {
    border-color: #e7eefa00;
    background-color:#e7eefa49;
    opacity: 1;
    white-space: nowrap;
}

div.wpui_card_preview img {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1), 0 1px 0 -1px rgba(0, 0, 0, .1);
    height: 100%
}

div.wpui_column {
    border-radius: 10px;
    box-shadow: none !important;
    height: auto;
    padding: 10px
}

.wpui_copy {
    box-shadow: none !important;
    position: absolute;
    top: 20px;
    right: 20px;
}

.wpui_copy svg {
    fill: white !important;
}

.copied_pop .components-popover__content {
    padding: 8px !important
}

.wpui_view_toggle [role="presentation"] {
    transform: none !important
}
.wpui_back_button span,
.wpui_back_button button
 {
    color: #535353;
    font-size: .875rem;
    font-weight: 500
}
.wpui_back_button .home:hover{
    color: #3858e9;
}

.wpui_variation_card {
    border-radius: 4px !important;
    padding: 45px 35px
}

.wpui_view_toggle [role="presentation"] {
    background-color: #cecece;
}

.wpui_view_toggle button[data-active-item] svg {
    fill: #5b5b5b;
}

.wpui_view_toggle:focus-within {
    box-shadow: none !important;
    border-color: grey !important;
}

.wpui_hero_cta .components-button {
    padding: 20px !important;
    color: white !important;
}

.wpui_hero_cta .components-button:nth-child(1) {
    border: 1px solid transparent;
}

.wpui_hero_cta .components-button:nth-child(2) {
    box-shadow: none !important;
    border: 1px solid white;
}

@media only screen and (max-width:480px) {
    div.wpui_column {
        column-gap: 10px;
        grid-template-columns: repeat(1, 1fr)
    }

    .wpui_footer .components-card__body .sec_1 {
        width: 100% !important
    }

    div.wpui_newsletter .nl_container {
        width: 100%
    }

    .wpui_variation_card {
        padding: 35px 20px
    }

    div.wpui_hero_cont {
        padding-right: 24px !important;
        width: 100%
    }
}

@media only screen and (min-width:481px) and (max-width:820px) {
    div.wpui_column {
        column-gap: 10px;
        grid-template-columns: repeat(2, 1fr)
    }

    .wpui_hero_cont {
        width: 100%
    }
}